
.calendarmonthlyzoomed_calendarmonthlyzoomed {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Rectangle8 {
	position: absolute;
	left: 1036.8899999999999px;
	top: 2136.5099999999998px;
	width: 114.39px;
	height: 110.7px;
	background: rgba(126,217,87,1.00);
	border-radius: 47.97px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .F {
	position: absolute;
	left: 996.3px;
	top: 2092.23px;
	width: 184.5px;
	height: 118.08px;
	border-radius: 18.45px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .F .DEFAULTdefaultACTIVEactive {
	width: 10px;
	height: 16px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .F .DEFAULTdefaultACTIVEactive ._30 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 140%;
	height: 68.75%;
	color: rgba(255,255,255,1.00);
	font-family: Roboto Mono;
	font-size: 11px;
	font-weight: 400;
	line-height: 11px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios {
	position: absolute;
	left: -18.45px;
	top: 0px;
	width: 1476px;
	height: 3114.36px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .HomeIndicator {
	position: absolute;
	left: 0px;
	top: 2988.9px;
	width: 1476px;
	height: 125.46px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .HomeIndicator .HomeIndicator_1 {
	position: absolute;
	left: 184.5%;
	bottom: 29.52px;
	transform: translate(-50%, 0);
	width: 531.36px;
	height: 18.45px;
	background: rgba(0,0,0,1.00);
	border-radius: 369px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone {
	position: absolute;
	left: 18.45px;
	top: 0px;
	width: 1439.1px;
	height: 177.12px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Time {
	position: relative;
	flex: none;
	margin-right: 568.26px;
	width: 376.38px;
	height: 81.17999999999999px;
	display: flex;
	padding-top: 7.38px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Time .Time_1 {
	position: relative;
	flex: none;
	margin-right: 36.9px;
	width: 136.53px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: SF Pro;
	font-size: 62.73px;
	font-weight: 590;
	line-height: 81.17999999999999px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Levels {
	position: relative;
	flex: none;
	margin-right: 568.26px;
	width: 376.38px;
	height: 81.17999999999999px;
	display: flex;
	padding-top: 3.69px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Levels .CellularConnection {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 70.84800281524659px;
	height: 45.11547369003296px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Levels .Wifi {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 63.252749061584474px;
	height: 45.49144987106323px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Levels .Battery {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 100.84045749664307px;
	height: 47.97px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Levels .Battery .Border {
	position: absolute;
	left: 168.78270311860288%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 92.25px;
	height: 100%;
	mix-blend-mode: normal;
	border-radius: 15.867000703811645px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Levels .Battery .Cap {
	position: absolute;
	left: 360.03401607225885%;
	top: 17.642362060546876px;
	transform: translate(-50%, 0);
	width: 4.900460135936737px;
	height: 31.349783677321213%;
	mix-blend-mode: normal;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ios .StatusbariPhone .Levels .Battery .Capacity {
	position: absolute;
	left: 168.78270311860288%;
	top: 7.38px;
	transform: translate(-50%, 0);
	width: 77.49px;
	height: 69.23076923076923%;
	background: rgba(0,0,0,1.00);
	border-radius: 9.225px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .MenuHeader {
	position: absolute;
	left: 47.97px;
	top: 476.01px;
	width: 273.06px;
	height: 118.08px;
	display: flex;
	flex-direction: column;
	padding-top: 29.52px;
	padding-right: 59.04px;
	padding-bottom: 14.76px;
	padding-left: 59.04px;
	box-sizing: border-box;
	border-radius: 29.52px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .MenuHeader .TextSmall {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 199.26px;
	height: 73.8px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .MenuHeader .TextSmall .TextSmall_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 199.26px;
	height: 73.8px;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 400;
	line-height: 72.32400140762329px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .TextStrong {
	position: absolute;
	left: 107.01px;
	top: 579.33px;
	width: 236.16px;
	height: 81.17999999999999px;
	display: flex;
	box-sizing: border-box;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .TextStrong .October {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 236.16px;
	height: 81.17999999999999px;
	color: rgba(30,30,30,1.00);
	font-family: Inter;
	font-size: 59.04px;
	font-weight: 600;
	line-height: 82.6559985923767px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 {
	position: absolute;
	left: 0px;
	top: 2712.15px;
	width: 1439.1px;
	height: 446.49px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .Rectangle10 {
	position: absolute;
	left: 0px;
	top: 3.69px;
	width: 1439.1px;
	height: 442.8px;
	background: rgba(255,255,255,1.00);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1439.1px;
	height: 250.92px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList {
	position: absolute;
	left: 36.9px;
	top: 29.52px;
	width: 1361.61px;
	height: 221.4px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton .Home {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton .Home .Icon {
	position: absolute;
	left: 11.07px;
	top: 7.38px;
	width: 75%;
	height: 83.33333333333334%;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton .Label {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 147.6px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_1 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_1 .Calendar {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_1 .Calendar .Icon_1 {
	position: absolute;
	left: 11.07px;
	top: 7.38px;
	width: 75%;
	height: 83.33333333333334%;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_1 .Label_1 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 228.78px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(44,44,44,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_2 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_2 .Plus {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_2 .Plus .Icon_2 {
	position: absolute;
	left: 18.45px;
	top: 18.45px;
	width: 58.333333333333336%;
	height: 58.333333333333336%;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_2 .Label_2 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 169.74px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_3 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_3 .Bookopen {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_3 .Bookopen .Icon_3 {
	position: absolute;
	left: 7.38px;
	top: 11.07px;
	width: 83.33333333333334%;
	height: 75%;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_3 .Label_3 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 177.12px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_4 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_4 .Bookmark {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_4 .Bookmark .Icon_4 {
	position: absolute;
	left: 18.45px;
	top: 11.07px;
	width: 58.333333333333336%;
	height: 75%;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .NavigationButtonList .NavigationButton_4 .Label_4 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 136.53px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group3 .nav .Line4 {
	position: absolute;
	left: 0px;
	top: 1.5516294297412968e-7px;
	width: 1439.1000118613167px;
	height: 3.689999844837057px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .S {
	position: absolute;
	left: 140.22px;
	top: 719.55px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(217,217,217,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._1 {
	position: absolute;
	left: 95.94px;
	top: 2749.05px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(217,217,217,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .M {
	position: absolute;
	left: 321.03px;
	top: 719.55px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(217,217,217,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .T {
	position: absolute;
	left: 501.84px;
	top: 719.55px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(217,217,217,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .W {
	position: absolute;
	left: 697.41px;
	top: 719.55px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(217,217,217,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .T_1 {
	position: absolute;
	left: 885.6px;
	top: 719.55px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(217,217,217,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .F_1 {
	position: absolute;
	left: 1066.41px;
	top: 719.55px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(217,217,217,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .S_1 {
	position: absolute;
	left: 1254.6px;
	top: 719.55px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(217,217,217,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._25 {
	position: absolute;
	left: 132.84px;
	top: 2177.1px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._26 {
	position: absolute;
	left: 313.65px;
	top: 2177.1px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._27 {
	position: absolute;
	left: 501.84px;
	top: 2177.1px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._28 {
	position: absolute;
	left: 690.03px;
	top: 2177.1px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._29 {
	position: absolute;
	left: 878.22px;
	top: 2177.1px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._31 {
	position: absolute;
	left: 1247.22px;
	top: 2177.1px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._18 {
	position: absolute;
	left: 132.84px;
	top: 1490.76px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._19 {
	position: absolute;
	left: 313.65px;
	top: 1490.76px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._20 {
	position: absolute;
	left: 501.84px;
	top: 1490.76px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._21 {
	position: absolute;
	left: 690.03px;
	top: 1490.76px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._22 {
	position: absolute;
	left: 878.22px;
	top: 1490.76px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._23 {
	position: absolute;
	left: 1062.72px;
	top: 1490.76px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._24 {
	position: absolute;
	left: 1247.22px;
	top: 1490.76px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._11 {
	position: absolute;
	left: 132.84px;
	top: 856.08px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._12 {
	position: absolute;
	left: 313.65px;
	top: 856.08px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._13 {
	position: absolute;
	left: 501.84px;
	top: 856.08px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._14 {
	position: absolute;
	left: 690.03px;
	top: 856.08px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._15 {
	position: absolute;
	left: 878.22px;
	top: 856.08px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._16 {
	position: absolute;
	left: 1062.72px;
	top: 856.08px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._17 {
	position: absolute;
	left: 1247.22px;
	top: 856.08px;
	width: 51.66px;
	height: 73.8px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._1_1 {
	position: absolute;
	left: 136.53px;
	top: 2667.87px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._2 {
	position: absolute;
	left: 317.34px;
	top: 2667.87px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._3 {
	position: absolute;
	left: 501.84px;
	top: 2667.87px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._4 {
	position: absolute;
	left: 693.72px;
	top: 2667.87px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._5 {
	position: absolute;
	left: 881.91px;
	top: 2667.87px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._6 {
	position: absolute;
	left: 1066.41px;
	top: 2667.87px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed ._7 {
	position: absolute;
	left: 1273.05px;
	top: 2671.56px;
	width: 25.83px;
	height: 40.589999999999996px;
	color: rgba(179,179,179,1.00);
	font-family: Roboto Mono;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 40.589999999999996px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line8 {
	position: absolute;
	left: 808.11px;
	top: 2280.42px;
	width: 184.5px;
	height: 0px;
	border: 31px solid rgba(142.39298164844513,189.09498363733292,166.52235567569733,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line15 {
	position: absolute;
	left: 826.56px;
	top: 1645.74px;
	width: 361.62px;
	height: 0px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line19 {
	position: absolute;
	left: 431.73px;
	top: 940.9499999999999px;
	width: 184.5px;
	height: 0px;
	border: 31px solid rgba(142.39298164844513,189.09498363733292,166.52235567569733,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line22 {
	position: absolute;
	left: 228.78px;
	top: 940.9499999999999px;
	width: 188.19px;
	height: 0px;
	border: 31px solid rgba(142.39298164844513,189.09498363733292,166.52235567569733,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line20 {
	position: absolute;
	left: 826.56px;
	top: 940.9499999999999px;
	width: 354.24px;
	height: 0px;
	border: 31px solid rgba(142.39298164844513,189.09498363733292,166.52235567569733,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line16 {
	position: absolute;
	left: 232.47px;
	top: 1590.3899999999999px;
	width: 387.45px;
	height: 0px;
	border: 31px solid rgba(142.39298164844513,189.09498363733292,166.52235567569733,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line12 {
	position: absolute;
	left: 232.47px;
	top: 2409.57px;
	width: 195.57px;
	height: 0px;
	border: 31px solid rgba(147.9001933336258,161.9760212302208,241.739501953125,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line17 {
	position: absolute;
	left: 630.99px;
	top: 1715.85px;
	width: 184.5px;
	height: 0px;
	border: 31px solid rgba(147.9001933336258,161.9760212302208,241.739501953125,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line21 {
	position: absolute;
	left: 431.73px;
	top: 1073.79px;
	width: 184.5px;
	height: 0px;
	border: 31px solid rgba(147.9001933336258,161.9760212302208,241.739501953125,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line23 {
	position: absolute;
	left: 630.99px;
	top: 1073.79px;
	width: 184.5px;
	height: 0px;
	border: 31px solid rgba(147.9001933336258,161.9760212302208,241.739501953125,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line13 {
	position: absolute;
	left: 232.45103237937178px;
	top: 2537.6920971679688px;
	width: 560.9178860776594px;
	height: 1.2899809470690662px;
	border: 31px solid rgba(211.09046816825867,118.39745923876762,118.39745923876762,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line14 {
	position: absolute;
	left: 236.16px;
	top: 1845px;
	width: 955.71px;
	height: 0px;
	border: 31px solid rgba(211.09046816825867,118.39745923876762,118.39745923876762,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Line10 {
	position: absolute;
	left: 992.61px;
	top: 2409.57px;
	width: 188.19px;
	height: 0px;
	border: 31px solid rgba(147.9001933336258,161.9760212302208,241.739501953125,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group24 {
	position: absolute;
	left: 553.5px;
	top: 490.77px;
	width: 649.4399999999999px;
	height: 154.98px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group24 .Rectangle12 {
	position: absolute;
	left: 77.49px;
	top: 0px;
	width: 571.95px;
	height: 154.98px;
	background: rgba(251,251,251,1.00);
	border-radius: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group24 .SCIENCE {
	position: absolute;
	left: 73.8px;
	top: 29.52px;
	width: 531.36px;
	height: 73.8px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 700;
	font-style: italic;
	line-height: 72.32400140762329px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group24 .Grade8Tesla {
	position: absolute;
	left: 0px;
	top: 77.49px;
	width: 601.47px;
	height: 55.35px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 40.589999999999996px;
	font-weight: 400;
	line-height: 59.04px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group24 .arrow_drop_down {
	position: absolute;
	left: 99.63px;
	top: 33.21px;
	width: 59.04px;
	height: 84.87px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Group24 .arrow_drop_down .icon {
	position: absolute;
	left: 17.219849853515626px;
	top: 35.36219970703125px;
	width: 41.66666567325592%;
	height: 20.83333264226499%;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Lesson1IntroductiontoScience {
	position: absolute;
	left: 243.54px;
	top: 959.4px;
	width: 158.67px;
	height: 99.63px;
	color: rgba(255,255,255,1.00);
	font-family: Inclusive Sans;
	font-size: 25.83px;
	font-weight: 400;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Lesson2TheHumanBody {
	position: absolute;
	left: 446.49px;
	top: 959.4px;
	width: 158.67px;
	height: 81.17999999999999px;
	color: rgba(255,255,255,1.00);
	font-family: Inclusive Sans;
	font-size: 25.83px;
	font-weight: 400;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Lesson3DigestiveSystem {
	position: absolute;
	left: 845.01px;
	top: 970.47px;
	width: 324.71999999999997px;
	height: 36.9px;
	color: rgba(255,255,255,1.00);
	font-family: Inclusive Sans;
	font-size: 25.83px;
	font-weight: 400;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Lesson4SkeletalSystem {
	position: absolute;
	left: 254.60999999999999px;
	top: 1623.6px;
	width: 324.71999999999997px;
	height: 62.73px;
	color: rgba(255,255,255,1.00);
	font-family: Inclusive Sans;
	font-size: 25.83px;
	font-weight: 400;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .PerformanceTaskBodysystemdiagram {
	position: absolute;
	left: 254.60999999999999px;
	top: 1874.52px;
	width: 324.71999999999997px;
	height: 62.73px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25.83px;
	font-weight: 700;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .PerformanceTaskBodysystemdiagram_1 {
	position: absolute;
	left: 250.92px;
	top: 2571.93px;
	width: 324.71999999999997px;
	height: 62.73px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25.83px;
	font-weight: 700;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Lesson5MuscularSystem {
	position: absolute;
	left: 856.08px;
	top: 1623.6px;
	width: 324.71999999999997px;
	height: 62.73px;
	color: rgba(255,255,255,1.00);
	font-family: Inclusive Sans;
	font-size: 25.83px;
	font-weight: 400;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .ReviewLesson15 {
	position: absolute;
	left: 830.25px;
	top: 2313.63px;
	width: 180.81px;
	height: 62.73px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25.83px;
	font-weight: 700;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Seatwork1Lesson12 {
	position: absolute;
	left: 446.49px;
	top: 1103.31px;
	width: 158.67px;
	height: 66.42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25.83px;
	font-weight: 700;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Quiz1Lesson12 {
	position: absolute;
	left: 642.06px;
	top: 1103.31px;
	width: 158.67px;
	height: 66.42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25.83px;
	font-weight: 700;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Seatwork2Lesson34 {
	position: absolute;
	left: 642.06px;
	top: 1749.06px;
	width: 158.67px;
	height: 66.42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25.83px;
	font-weight: 700;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Seatwork3Lesson5 {
	position: absolute;
	left: 254.60999999999999px;
	top: 2442.7799999999997px;
	width: 158.67px;
	height: 66.42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25.83px;
	font-weight: 700;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Quiz2Lesson15 {
	position: absolute;
	left: 1014.75px;
	top: 2442.7799999999997px;
	width: 158.67px;
	height: 66.42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25.83px;
	font-weight: 700;
	line-height: 25.83px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Morehorizontal {
	position: absolute;
	left: 1250.91px;
	top: 535.05px;
	width: 88.56px;
	height: 88.56px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .Morehorizontal .Icon_5 {
	position: absolute;
	left: 14.76px;
	top: 40.589999999999996px;
	width: 66.66666666666666%;
	height: 8.333333333333332%;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .header {
	position: absolute;
	left: 14.76px;
	top: 214.02px;
	width: 1439.1px;
	height: 202.95px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .header .ford22 {
	position: absolute;
	left: 59.04px;
	top: 3.69px;
	width: 143.91px;
	height: 143.91px;
	object-fit: cover;
	overflow: hidden;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .header .S11 {
	position: absolute;
	left: 55.35px;
	top: 0px;
	width: 132.84px;
	height: 132.84px;
	object-fit: cover;
	overflow: hidden;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .header .SCHEDU {
	position: absolute;
	left: 214.02px;
	top: 36.9px;
	width: 505.53px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 121.77px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .header .Line5 {
	position: absolute;
	left: 0px;
	top: 199.26000015516294px;
	width: 1439.1000118613167px;
	height: 3.689999844837057px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .User {
	position: absolute;
	left: 1273.05px;
	top: 236.16px;
	width: 103.32px;
	height: 110.7px;
}
.calendarmonthlyzoomed_calendarmonthlyzoomed .User .Icon_6 {
	position: absolute;
	left: 17.22030029296875px;
	top: 13.8375px;
	width: 66.66666439601353%;
	height: 75%;
}