
.createlessonplan_createlessonplan {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.createlessonplan_createlessonplan .Rectangle72 {
	position: absolute;
	left: 62.73px;
	top: 1014.75px;
	width: 1295.19px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .ios {
	position: absolute;
	left: -18.45px;
	top: 0px;
	width: 1476px;
	height: 3114.36px;
}
.createlessonplan_createlessonplan .ios .HomeIndicator {
	position: absolute;
	left: 0px;
	top: 2988.9px;
	width: 1476px;
	height: 125.46px;
}
.createlessonplan_createlessonplan .ios .HomeIndicator .HomeIndicator_1 {
	position: absolute;
	left: 184.5%;
	bottom: 29.52px;
	transform: translate(-50%, 0);
	width: 531.36px;
	height: 18.45px;
	background: rgba(0,0,0,1.00);
	border-radius: 369px;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone {
	position: absolute;
	left: 18.45px;
	top: 0px;
	width: 1439.1px;
	height: 177.12px;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Time {
	position: relative;
	flex: none;
	margin-right: 568.26px;
	width: 376.38px;
	height: 81.17999999999999px;
	display: flex;
	padding-top: 7.38px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Time .Time_1 {
	position: relative;
	flex: none;
	margin-right: 36.9px;
	width: 136.53px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: SF Pro;
	font-size: 62.73px;
	font-weight: 590;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Levels {
	position: relative;
	flex: none;
	margin-right: 568.26px;
	width: 376.38px;
	height: 81.17999999999999px;
	display: flex;
	padding-top: 3.69px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Levels .CellularConnection {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 70.84800281524659px;
	height: 45.11547369003296px;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Levels .Wifi {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 63.252749061584474px;
	height: 45.49144987106323px;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Levels .Battery {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 100.84045749664307px;
	height: 47.97px;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Levels .Battery .Border {
	position: absolute;
	left: 168.78270311860288%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 92.25px;
	height: 100%;
	mix-blend-mode: normal;
	border-radius: 15.867000703811645px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Levels .Battery .Cap {
	position: absolute;
	left: 360.03401607225885%;
	top: 17.642812499999998px;
	transform: translate(-50%, 0);
	width: 4.900460135936737px;
	height: 31.349783677321213%;
	mix-blend-mode: normal;
}
.createlessonplan_createlessonplan .ios .StatusbariPhone .Levels .Battery .Capacity {
	position: absolute;
	left: 168.78270311860288%;
	top: 7.38px;
	transform: translate(-50%, 0);
	width: 77.49px;
	height: 69.23076923076923%;
	background: rgba(0,0,0,1.00);
	border-radius: 9.225px;
}
.createlessonplan_createlessonplan .Group3 {
	position: absolute;
	left: 0px;
	top: 2712.15px;
	width: 1439.1px;
	height: 446.49px;
}
.createlessonplan_createlessonplan .Group3 .Rectangle10 {
	position: absolute;
	left: 0px;
	top: 3.69px;
	width: 1439.1px;
	height: 442.8px;
	background: rgba(255,255,255,1.00);
}
.createlessonplan_createlessonplan .Group3 .nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1439.1px;
	height: 250.92px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList {
	position: absolute;
	left: 36.9px;
	top: 29.52px;
	width: 1361.61px;
	height: 221.4px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton .Home {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton .Home .Icon {
	position: absolute;
	left: 11.07px;
	top: 7.38px;
	width: 75%;
	height: 83.33333333333334%;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton .Label {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 147.6px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_1 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_1 .Calendar {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_1 .Calendar .Icon_1 {
	position: absolute;
	left: 11.07px;
	top: 7.38px;
	width: 75%;
	height: 83.33333333333334%;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_1 .Label_1 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 228.78px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_2 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_2 .Plus {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_2 .Plus .Icon_2 {
	position: absolute;
	left: 18.45px;
	top: 18.45px;
	width: 58.333333333333336%;
	height: 58.333333333333336%;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_2 .Label_2 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 169.74px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(44,44,44,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_3 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_3 .Bookopen {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_3 .Bookopen .Icon_3 {
	position: absolute;
	left: 7.38px;
	top: 11.07px;
	width: 83.33333333333334%;
	height: 75%;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_3 .Label_3 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 177.12px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_4 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_4 .Bookmark {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_4 .Bookmark .Icon_4 {
	position: absolute;
	left: 18.45px;
	top: 11.07px;
	width: 58.333333333333336%;
	height: 75%;
}
.createlessonplan_createlessonplan .Group3 .nav .NavigationButtonList .NavigationButton_4 .Label_4 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 136.53px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.createlessonplan_createlessonplan .Group3 .nav .Line4 {
	position: absolute;
	left: 0px;
	top: 1.5516294297412968e-7px;
	width: 1439.1000118613167px;
	height: 3.689999844837057px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.createlessonplan_createlessonplan .header {
	position: absolute;
	left: 0px;
	top: 214.02px;
	width: 1439.1px;
	height: 199.26px;
}
.createlessonplan_createlessonplan .header .ford22 {
	position: absolute;
	left: 59.04px;
	top: 0px;
	width: 143.91px;
	height: 143.91px;
	object-fit: cover;
	overflow: hidden;
}
.createlessonplan_createlessonplan .header .FORADI {
	position: absolute;
	left: 214.02px;
	top: 33.21px;
	width: 442.8px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 121.77px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .header .Line5 {
	position: absolute;
	left: 0px;
	top: 195.57000015516294px;
	width: 1439.1000118613167px;
	height: 3.689999844837057px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.createlessonplan_createlessonplan .User {
	position: absolute;
	left: 1273.05px;
	top: 232.47px;
	width: 103.32px;
	height: 110.7px;
}
.createlessonplan_createlessonplan .User .Icon_5 {
	position: absolute;
	left: 17.219849853515626px;
	top: 13.8375px;
	width: 66.66666439601353%;
	height: 75%;
}
.createlessonplan_createlessonplan .CreateLessonplan {
	position: absolute;
	left: 107.01px;
	top: 483.39px;
	width: 568.26px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 62.73px;
	font-weight: 600;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle60 {
	position: absolute;
	left: 44.28px;
	top: 712.17px;
	width: 442.8px;
	height: 125.46px;
	background: rgba(250,250,250,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .AcademicYear {
	position: absolute;
	left: 107.01px;
	top: 734.31px;
	width: 313.65px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle67 {
	position: absolute;
	left: 70.11px;
	top: 1361.61px;
	width: 383.76px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .WrittenWork {
	position: absolute;
	left: 118.08px;
	top: 1383.75px;
	width: 273.06px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle70 {
	position: absolute;
	left: 66.42px;
	top: 1715.85px;
	width: 1313.6399999999999px;
	height: 420.65999999999997px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan ._1SeatworkperLesson1activityperlaboratorysessiononelongprojectmakingweeketc {
	position: absolute;
	left: 88.56px;
	top: 1793.34px;
	width: 1273.05px;
	height: 162.35999999999999px;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	font-style: italic;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle68 {
	position: absolute;
	left: 476.01px;
	top: 1361.61px;
	width: 483.39px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .PerformanceTask {
	position: absolute;
	left: 520.29px;
	top: 1383.75px;
	width: 380.07px;
	height: 77.49px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle69 {
	position: absolute;
	left: 988.92px;
	top: 1361.61px;
	width: 387.45px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .Rectangle106 {
	position: absolute;
	left: 616.23px;
	top: 2365.29px;
	width: 630.99px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .Exam {
	position: absolute;
	left: 985.23px;
	top: 1383.75px;
	width: 380.07px;
	height: 77.49px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Reason {
	position: absolute;
	left: 738px;
	top: 2387.43px;
	width: 380.07px;
	height: 77.49px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle63 {
	position: absolute;
	left: 62.73px;
	top: 867.15px;
	width: 638.37px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .Subject {
	position: absolute;
	left: 265.68px;
	top: 889.29px;
	width: 158.67px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle61 {
	position: absolute;
	left: 501.84px;
	top: 712.17px;
	width: 405.9px;
	height: 125.46px;
	background: rgba(250,250,250,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .TermCategory {
	position: absolute;
	left: 527.67px;
	top: 734.31px;
	width: 354.24px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Schedule {
	position: absolute;
	left: 594.09px;
	top: 1036.8899999999999px;
	width: 195.57px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle62 {
	position: absolute;
	left: 933.5699999999999px;
	top: 712.17px;
	width: 435.42px;
	height: 125.46px;
	background: rgba(250,250,250,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .Duration {
	position: absolute;
	left: 981.54px;
	top: 734.31px;
	width: 335.79px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Check {
	position: absolute;
	left: 1273.05px;
	top: 483.39px;
	width: 92.25px;
	height: 92.25px;
}
.createlessonplan_createlessonplan .Check .Icon_6 {
	position: absolute;
	left: 15.374849853515625px;
	top: 23.0625px;
	width: 66.66666412353516%;
	height: 45.83333206176758%;
}
.createlessonplan_createlessonplan .Rectangle64 {
	position: absolute;
	left: 62.73px;
	top: 867.15px;
	width: 638.37px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .Subject_1 {
	position: absolute;
	left: 265.68px;
	top: 889.29px;
	width: 158.67px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle65 {
	position: absolute;
	left: 730.62px;
	top: 867.15px;
	width: 638.37px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .Rectangle66 {
	position: absolute;
	left: 730.62px;
	top: 867.15px;
	width: 638.37px;
	height: 125.46px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan .Section {
	position: absolute;
	left: 959.4px;
	top: 889.29px;
	width: 158.67px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Line32 {
	position: absolute;
	left: 81.17999999999999px;
	top: 1210.32px;
	width: 1298.8799999999999px;
	height: 0px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.createlessonplan_createlessonplan .Overview {
	position: absolute;
	left: 73.8px;
	top: 597.78px;
	width: 199.26px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .MinimumRequirements {
	position: absolute;
	left: 81.17999999999999px;
	top: 1258.29px;
	width: 627.3px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Line33 {
	position: absolute;
	left: 73.8px;
	top: 1560.87px;
	width: 1298.8799999999999px;
	height: 0px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.createlessonplan_createlessonplan .ExtraRequirements {
	position: absolute;
	left: 77.49px;
	top: 1612.53px;
	width: 1014.75px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Rectangle73 {
	position: absolute;
	left: 66.42px;
	top: 1715.85px;
	width: 1313.6399999999999px;
	height: 420.65999999999997px;
	background: rgba(251,251,251,1.00);
	border-radius: 7.38px;
}
.createlessonplan_createlessonplan ._1SeatworkperLesson1activityperlaboratorysessiononelongprojectmakingweeketc_1 {
	position: absolute;
	left: 88.56px;
	top: 1793.34px;
	width: 1273.05px;
	height: 162.35999999999999px;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	font-style: italic;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .ExtraRequirements_1 {
	position: absolute;
	left: 77.49px;
	top: 1612.53px;
	width: 1014.75px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Line34 {
	position: absolute;
	left: 66.42px;
	top: 2214px;
	width: 1298.8799999999999px;
	height: 0px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.createlessonplan_createlessonplan .SpecialDatesOptional {
	position: absolute;
	left: 70.11px;
	top: 2265.66px;
	width: 1014.75px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .icon {
	position: absolute;
	left: 17.219849853515626px;
	top: 35.3631005859375px;
	width: 1.7094016686463969%;
	height: 0.5677330550424295%;
}
.createlessonplan_createlessonplan .arrow_drop_down {
	position: absolute;
	left: 36.90015849508345px;
	top: 494.45973149826284px;
	width: 85.24821064554155px;
	height: 59.5849800057197px;
}
.createlessonplan_createlessonplan .arrow_drop_down .icon_1 {
	position: absolute;
	left: 31.93645039582638px;
	top: 17.424787152611724px;
	width: 20.926190405148727%;
	height: 41.47569154166184%;
}
.createlessonplan_createlessonplan .Rectangle105 {
	position: absolute;
	left: 66.42px;
	top: 2376.36px;
	width: 509.21999999999997px;
	height: 107.01px;
	border-radius: 55.35px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
	box-sizing: border-box;
}
.createlessonplan_createlessonplan .June052025 {
	position: absolute;
	left: 129.15px;
	top: 2387.43px;
	width: 391.14px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 29.52px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.createlessonplan_createlessonplan .Plus_1 {
	position: absolute;
	left: 1280.43px;
	top: 2405.88px;
	width: 47.97px;
	height: 47.97px;
}
.createlessonplan_createlessonplan .Plus_1 .Icon_7 {
	position: absolute;
	left: 9.993900146484375px;
	top: 9.9943505859375px;
	width: 58.33333088801458%;
	height: 58.33333088801458%;
}