
.DEFAULTdefaultACTIVEactive_1_DEFAULTdefaultACTIVEactive {
	width: 10px;
	height: 16px;
}
.DEFAULTdefaultACTIVEactive_1_DEFAULTdefaultACTIVEactive ._30 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 140%;
	height: 68.75%;
	color: rgba(255,255,255,1.00);
	font-family: Roboto Mono;
	font-size: 11px;
	font-weight: 400;
	line-height: 11px;
}