
.librarysubjectclosed_librarysubjectclosed {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Line27 {
	position: absolute;
	left: 110.7px;
	top: 1830.24px;
	width: 1210.32px;
	height: 0px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.librarysubjectclosed_librarysubjectclosed .Ellipse1 {
	position: absolute;
	left: 686.34px;
	top: 1797.03px;
	width: 59.04px;
	height: 59.04px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.librarysubjectclosed_librarysubjectclosed .ios {
	position: absolute;
	left: -18.45px;
	top: 0px;
	width: 1476px;
	height: 3114.36px;
}
.librarysubjectclosed_librarysubjectclosed .ios .HomeIndicator {
	position: absolute;
	left: 0px;
	top: 2988.9px;
	width: 1476px;
	height: 125.46px;
}
.librarysubjectclosed_librarysubjectclosed .ios .HomeIndicator .HomeIndicator_1 {
	position: absolute;
	left: 184.5%;
	bottom: 29.52px;
	transform: translate(-50%, 0);
	width: 531.36px;
	height: 18.45px;
	background: rgba(0,0,0,1.00);
	border-radius: 369px;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone {
	position: absolute;
	left: 18.45px;
	top: 0px;
	width: 1439.1px;
	height: 177.12px;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Time {
	position: relative;
	flex: none;
	margin-right: 568.26px;
	width: 376.38px;
	height: 81.17999999999999px;
	display: flex;
	padding-top: 7.38px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Time .Time_1 {
	position: relative;
	flex: none;
	margin-right: 36.9px;
	width: 136.53px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: SF Pro;
	font-size: 62.73px;
	font-weight: 590;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Levels {
	position: relative;
	flex: none;
	margin-right: 568.26px;
	width: 376.38px;
	height: 81.17999999999999px;
	display: flex;
	padding-top: 3.69px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Levels .CellularConnection {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 70.84800281524659px;
	height: 45.11547369003296px;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Levels .Wifi {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 63.252749061584474px;
	height: 45.49144987106323px;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Levels .Battery {
	position: relative;
	flex: none;
	margin-right: 25.83px;
	width: 100.84045749664307px;
	height: 47.97px;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Levels .Battery .Border {
	position: absolute;
	left: 168.78270311860288%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 92.25px;
	height: 100%;
	mix-blend-mode: normal;
	border-radius: 15.867000703811645px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Levels .Battery .Cap {
	position: absolute;
	left: 360.03401607225885%;
	top: 17.642812499999998px;
	transform: translate(-50%, 0);
	width: 4.900460135936737px;
	height: 31.349783677321213%;
	mix-blend-mode: normal;
}
.librarysubjectclosed_librarysubjectclosed .ios .StatusbariPhone .Levels .Battery .Capacity {
	position: absolute;
	left: 168.78270311860288%;
	top: 7.38px;
	transform: translate(-50%, 0);
	width: 77.49px;
	height: 69.23076923076923%;
	background: rgba(0,0,0,1.00);
	border-radius: 9.225px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 {
	position: absolute;
	left: 0px;
	top: 2712.15px;
	width: 1439.1px;
	height: 446.49px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .Rectangle10 {
	position: absolute;
	left: 0px;
	top: 3.69px;
	width: 1439.1px;
	height: 442.8px;
	background: rgba(255,255,255,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1439.1px;
	height: 250.92px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList {
	position: absolute;
	left: 36.9px;
	top: 29.52px;
	width: 1361.61px;
	height: 221.4px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton .Home {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton .Home .Icon {
	position: absolute;
	left: 11.07px;
	top: 7.38px;
	width: 75%;
	height: 83.33333333333334%;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton .Label {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 147.6px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_1 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_1 .Calendar {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_1 .Calendar .Icon_1 {
	position: absolute;
	left: 11.07px;
	top: 7.38px;
	width: 75%;
	height: 83.33333333333334%;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_1 .Label_1 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 228.78px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_2 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_2 .Plus {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_2 .Plus .Icon_2 {
	position: absolute;
	left: 18.45px;
	top: 18.45px;
	width: 58.333333333333336%;
	height: 58.333333333333336%;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_2 .Label_2 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 169.74px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_3 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_3 .Bookopen {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_3 .Bookopen .Icon_3 {
	position: absolute;
	left: 7.38px;
	top: 11.07px;
	width: 83.33333333333334%;
	height: 75%;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_3 .Label_3 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 177.12px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(44,44,44,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_4 {
	position: relative;
	flex: none;
	margin-right: 44.28px;
	height: 221.4px;
	align-self: stretch;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_4 .Bookmark {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_4 .Bookmark .Icon_4 {
	position: absolute;
	left: 18.45px;
	top: 11.07px;
	width: 58.333333333333336%;
	height: 75%;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .NavigationButtonList .NavigationButton_4 .Label_4 {
	position: relative;
	flex: none;
	margin-bottom: 29.52px;
	width: 136.53px;
	height: 51.66px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 51.66px;
	font-weight: 600;
	line-height: 51.66px;
}
.librarysubjectclosed_librarysubjectclosed .Group3 .nav .Line4 {
	position: absolute;
	left: 0px;
	top: 1.5516294297412968e-7px;
	width: 1439.1000118613167px;
	height: 3.689999844837057px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.librarysubjectclosed_librarysubjectclosed .header {
	position: absolute;
	left: 0px;
	top: 214.02px;
	width: 1439.1px;
	height: 199.26px;
}
.librarysubjectclosed_librarysubjectclosed .header .ford22 {
	position: absolute;
	left: 59.04px;
	top: 0px;
	width: 143.91px;
	height: 143.91px;
	object-fit: cover;
	overflow: hidden;
}
.librarysubjectclosed_librarysubjectclosed .header .FORADI {
	position: absolute;
	left: 214.02px;
	top: 33.21px;
	width: 442.8px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 121.77px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .header .Line5 {
	position: absolute;
	left: 0px;
	top: 195.57000015516294px;
	width: 1439.1000118613167px;
	height: 3.689999844837057px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.librarysubjectclosed_librarysubjectclosed .SCI8Science {
	position: absolute;
	left: 151.29px;
	top: 553.5px;
	width: 442.8px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 62.73px;
	font-weight: 600;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .AY20252026 {
	position: absolute;
	left: 151.29px;
	top: 483.39px;
	width: 354.24px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .User {
	position: absolute;
	left: 1273.05px;
	top: 232.47px;
	width: 103.32px;
	height: 110.7px;
}
.librarysubjectclosed_librarysubjectclosed .User .Icon_5 {
	position: absolute;
	left: 17.219849853515626px;
	top: 13.8375px;
	width: 66.66666439601353%;
	height: 75%;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle5 {
	position: absolute;
	left: 88.56px;
	top: 690.03px;
	width: 1250.91px;
	height: 461.25px;
	background: rgba(82,144,217,1.00);
	border-radius: 22.14px;
}
.librarysubjectclosed_librarysubjectclosed .arrow_drop_down {
	position: absolute;
	left: 47.97015849508345px;
	top: 538.7397314982628px;
	width: 85.24821064554155px;
	height: 59.5849800057197px;
}
.librarysubjectclosed_librarysubjectclosed .arrow_drop_down .icon {
	position: absolute;
	left: 31.93645039582638px;
	top: 17.424787152610048px;
	width: 20.926190405148727%;
	height: 41.475691541667466%;
}
.librarysubjectclosed_librarysubjectclosed .Morehorizontal {
	position: absolute;
	left: 1236.15px;
	top: 546.12px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Morehorizontal .Icon_6 {
	position: absolute;
	left: 14.76px;
	top: 40.589999999999996px;
	width: 66.66666666666666%;
	height: 8.333333333333332%;
}
.librarysubjectclosed_librarysubjectclosed .Group16 {
	position: absolute;
	left: 88.56px;
	top: 1313.6399999999999px;
	width: 1243.53px;
	height: 107.01px;
}
.librarysubjectclosed_librarysubjectclosed .Group16 .Rectangle13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1243.53px;
	height: 107.01px;
	background: rgba(250,250,250,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Group16 .Chapter1TheHumanBody {
	position: absolute;
	left: 51.66px;
	top: 11.07px;
	width: 612.54px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Group16 .arrow_drop_down_1 {
	position: absolute;
	left: 667.89px;
	top: 11.07px;
	width: 59.04px;
	height: 84.87px;
}
.librarysubjectclosed_librarysubjectclosed .Group16 .arrow_drop_down_1 .icon_1 {
	position: absolute;
	left: 17.219849853515626px;
	top: 35.36219970703125px;
	width: 41.66666567325592%;
	height: 20.83333264226499%;
}
.librarysubjectclosed_librarysubjectclosed .Group16 .Morehorizontal_1 {
	position: absolute;
	left: 1121.76px;
	top: 11.07px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Group16 .Morehorizontal_1 .Icon_7 {
	position: absolute;
	left: 14.76px;
	top: 40.589999999999996px;
	width: 66.66666269302368%;
	height: 8.33333283662796%;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle14 {
	position: absolute;
	left: 88.56px;
	top: 1476px;
	width: 1243.53px;
	height: 107.01px;
	background: rgba(250,250,250,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Chapter2AnatomyofPlants {
	position: absolute;
	left: 140.22px;
	top: 1490.76px;
	width: 638.37px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .arrow_drop_down_2 {
	position: absolute;
	left: 797.04px;
	top: 1487.07px;
	width: 59.04px;
	height: 84.87px;
}
.librarysubjectclosed_librarysubjectclosed .arrow_drop_down_2 .icon_2 {
	position: absolute;
	left: 17.219849853515626px;
	top: 35.36219970703125px;
	width: 41.66666567325592%;
	height: 20.83333264226499%;
}
.librarysubjectclosed_librarysubjectclosed .arrow_drop_down_3 {
	position: absolute;
	left: 686.34px;
	top: 1785.96px;
	width: 59.04px;
	height: 84.87px;
}
.librarysubjectclosed_librarysubjectclosed .arrow_drop_down_3 .icon_3 {
	position: absolute;
	left: 17.219849853515626px;
	top: 35.36219970703125px;
	width: 41.66666567325592%;
	height: 20.83333264226499%;
}
.librarysubjectclosed_librarysubjectclosed .Morehorizontal_2 {
	position: absolute;
	left: 1210.32px;
	top: 1483.3799999999999px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Morehorizontal_2 .Icon_8 {
	position: absolute;
	left: 14.76px;
	top: 40.589999999999996px;
	width: 66.66666269302368%;
	height: 8.33333283662796%;
}
.librarysubjectclosed_librarysubjectclosed .Group18 {
	position: absolute;
	left: 92.25px;
	top: 1638.36px;
	width: 1239.84px;
	height: 107.01px;
}
.librarysubjectclosed_librarysubjectclosed .Group18 .Rectangle15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1239.84px;
	height: 107.01px;
	background: rgba(250,250,250,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Group18 .Chapter3PlantsandAnimals {
	position: absolute;
	left: 47.97px;
	top: 14.76px;
	width: 656.8199999999999px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 44.28px;
	font-weight: 400;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Group18 .arrow_drop_down_4 {
	position: absolute;
	left: 704.79px;
	top: 14.76px;
	width: 59.04px;
	height: 84.87px;
}
.librarysubjectclosed_librarysubjectclosed .Group18 .arrow_drop_down_4 .icon_4 {
	position: absolute;
	left: 17.219849853515626px;
	top: 35.36219970703125px;
	width: 41.66666567325592%;
	height: 20.83333264226499%;
}
.librarysubjectclosed_librarysubjectclosed .Group18 .Morehorizontal_3 {
	position: absolute;
	left: 1118.07px;
	top: 7.38px;
	width: 88.56px;
	height: 88.56px;
}
.librarysubjectclosed_librarysubjectclosed .Group18 .Morehorizontal_3 .Icon_9 {
	position: absolute;
	left: 14.76px;
	top: 40.589999999999996px;
	width: 66.66666269302368%;
	height: 8.33333283662796%;
}
.librarysubjectclosed_librarysubjectclosed .Icon_10 {
	position: absolute;
	left: 14.76px;
	top: 40.589999999999996px;
	width: 4.102564102564102%;
	height: 0.23696682464454977%;
}
.librarysubjectclosed_librarysubjectclosed .image4 {
	position: absolute;
	left: 531.36px;
	top: 741.6899999999999px;
	width: 361.62px;
	height: 361.62px;
	object-fit: cover;
	overflow: hidden;
}
.librarysubjectclosed_librarysubjectclosed .Group15 {
	position: absolute;
	left: 1214.01px;
	top: 1214.01px;
	width: 106.27270803451538px;
	height: 50.5230908203125px;
}
.librarysubjectclosed_librarysubjectclosed .Group15 .Rectangle16 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106.27270803451538px;
	height: 50.5230908203125px;
	background: rgba(250,250,250,1.00);
	border-radius: 84.87px;
}
.librarysubjectclosed_librarysubjectclosed .Group15 .Plus_1 {
	position: absolute;
	left: 33.10144409179687px;
	top: 5.22599853515625px;
	width: 41.812211151123044px;
	height: 41.812211151123044px;
}
.librarysubjectclosed_librarysubjectclosed .Group15 .Plus_1 .Icon_11 {
	position: absolute;
	left: 8.711048583984375px;
	top: 8.71059814453125px;
	width: 58.33333052788636%;
	height: 58.33333052788636%;
}
.librarysubjectclosed_librarysubjectclosed .Notes {
	position: absolute;
	left: 114.39px;
	top: 1199.25px;
	width: 118.08px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 500;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle17 {
	position: absolute;
	left: 95.94px;
	top: 1904.04px;
	width: 594.09px;
	height: 741.6899999999999px;
	background: rgba(250,250,250,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Rectangle23 {
	position: absolute;
	left: 95.94px;
	top: 1904.04px;
	width: 594.09px;
	height: 741.6899999999999px;
	background: rgba(250,250,250,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Rectangle18 {
	position: absolute;
	left: 730.62px;
	top: 1904.04px;
	width: 586.71px;
	height: 741.6899999999999px;
	background: rgba(250,250,250,1.00);
}
.librarysubjectclosed_librarysubjectclosed .WrittenWork {
	position: absolute;
	left: 132.84px;
	top: 1922.49px;
	width: 254.60999999999999px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 500;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .PerformanceTask {
	position: absolute;
	left: 760.14px;
	top: 1922.49px;
	width: 354.24px;
	height: 81.17999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 500;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle16_1 {
	position: absolute;
	left: 542.43px;
	top: 1937.25px;
	width: 106.27270803451538px;
	height: 50.5230908203125px;
	background: rgba(250,250,250,1.00);
	border-radius: 84.87px;
}
.librarysubjectclosed_librarysubjectclosed .Plus_2 {
	position: absolute;
	left: 575.5309936523438px;
	top: 1942.4768994140625px;
	width: 41.812211151123044px;
	height: 41.812211151123044px;
}
.librarysubjectclosed_librarysubjectclosed .Plus_2 .Icon_12 {
	position: absolute;
	left: 8.711048583984375px;
	top: 8.71059814453125px;
	width: 58.33333052788636%;
	height: 58.33333052788636%;
}
.librarysubjectclosed_librarysubjectclosed .Group20 {
	position: absolute;
	left: 1191.87px;
	top: 1933.56px;
	width: 106.27270803451538px;
	height: 50.5230908203125px;
}
.librarysubjectclosed_librarysubjectclosed .Group20 .Rectangle16_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106.27270803451538px;
	height: 50.5230908203125px;
	background: rgba(250,250,250,1.00);
	border-radius: 84.87px;
}
.librarysubjectclosed_librarysubjectclosed .Group20 .Plus_3 {
	position: absolute;
	left: 33.10144409179687px;
	top: 5.22599853515625px;
	width: 41.812211151123044px;
	height: 41.812211151123044px;
}
.librarysubjectclosed_librarysubjectclosed .Group20 .Plus_3 .Icon_13 {
	position: absolute;
	left: 8.711048583984375px;
	top: 8.71059814453125px;
	width: 58.33333052788636%;
	height: 58.33333052788636%;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle21 {
	position: absolute;
	left: 147.6px;
	top: 2044.26px;
	width: 498.15px;
	height: 84.87px;
	background: rgba(228,231,242,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Seatwork1 {
	position: absolute;
	left: 177.12px;
	top: 2044.26px;
	width: 439.11px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle28 {
	position: absolute;
	left: 760.14px;
	top: 2040.57px;
	width: 498.15px;
	height: 84.87px;
	background: rgba(237,212,209,1.00);
}
.librarysubjectclosed_librarysubjectclosed .BodySystemDiagram {
	position: absolute;
	left: 789.66px;
	top: 2040.57px;
	width: 439.11px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle24 {
	position: absolute;
	left: 147.6px;
	top: 2151.27px;
	width: 498.15px;
	height: 84.87px;
	background: rgba(228,231,242,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Seatwork2 {
	position: absolute;
	left: 177.12px;
	top: 2151.27px;
	width: 439.11px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle25 {
	position: absolute;
	left: 147.6px;
	top: 2261.97px;
	width: 498.15px;
	height: 84.87px;
	background: rgba(228,231,242,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Seatwork3 {
	position: absolute;
	left: 177.12px;
	top: 2261.97px;
	width: 439.11px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle26 {
	position: absolute;
	left: 147.6px;
	top: 2372.67px;
	width: 498.15px;
	height: 84.87px;
	background: rgba(217,226,255,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Quiz1 {
	position: absolute;
	left: 177.12px;
	top: 2372.67px;
	width: 439.11px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}
.librarysubjectclosed_librarysubjectclosed .Rectangle27 {
	position: absolute;
	left: 147.6px;
	top: 2479.68px;
	width: 498.15px;
	height: 84.87px;
	background: rgba(217,226,255,1.00);
}
.librarysubjectclosed_librarysubjectclosed .Quiz2 {
	position: absolute;
	left: 177.12px;
	top: 2479.68px;
	width: 439.11px;
	height: 81.17999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 40.589999999999996px;
	font-weight: 300;
	line-height: 81.17999999999999px;
}